{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <link href="{% static 'cram/css/default.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'cram/js/index.js' %}"></script>

  </head>
  <body>
  <div style="text-align: center;">
    <h1>塾報告書</h1>
    <div style="text-align: center;">
      <img src="https://icongr.am/feather/wifi.svg?size=60&color=currentColor" >
    </div>
    <p>こちらから報告せよ</p>

    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">生徒氏名</label><br>
        <input id="titleInput" name="title" type="text" row="1" placeholder="報告のタイトルを入力してね♡">
      </div>
      <div>
        <label for="textInput">詳細</label><br>
        <textarea id="textInput" name="text" rows="3" placeholder="何か入力してね♡"></textarea>
      </div>
      <div>
        <button type="submit">報告</button>
      </div>
      
    </form>
    <p>※保護者様が不快に思うことを投稿するな。</p>
    <br>
    <div>
      <a href="{% url 'index' %}?sort=Date" id="sort_new">新着順</a>
      <a href="{% url 'index' %}?sort=like" id="sort_like">♡順</a>
    </div>
    <br>
    <br>
    {% if articles %}
    {% for article in articles %}
    <div class="text">
    <small>[{{ article.posted_at }}]</small>
    <h2><a href="{% url 'detail' article.id %}">{{ article.title }}</a></h2>
    </div>
    <div>
      <a href=""onclick="like({{article.id}});">
        ♡:<span id="like{{article.id}}">{{ article.like }}</span>
      </a>
    </div>
    {% endfor %}
    {% else %}
    <p>No article.</p>
    {% endif %}

  </div>
  </body>
</html>